Hw1/skeleton_code/__pycache__/utils.cpython-38.pyc
Hw1/skeleton_code/__pycache__/utils.cpython-311.pyc
lab4/.ipynb_checkpoints/practical_04_solution-checkpoint.pdf
lab4/.ipynb_checkpoints/practical_04_solution-checkpoint.ipynb
lab3/.ipynb_checkpoints/practical_03_solution-checkpoint.ipynb
lab2/.ipynb_checkpoints/practical_02_solution-checkpoint.pdf
lab2/.ipynb_checkpoints/practical_02_solution-checkpoint.ipynb
Hw1/skeleton_code/.ipynb_checkpoints/hw1-q1-checkpoint.py
